@model HardwareInventoryManager.ViewModels.AssetViewModel

@{
    ViewBag.Title = "Details";
}
<div class="full-page">
    <h2>Details</h2>
    <h4>Asset</h4>
    <hr />
    @Html.Partial("_AssetDetailReadOnly", Model)
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssetId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
