<div class="row">
    <h2>Quotes/Wishlist</h2>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <button type="button" class="btn btn-default" ng-click="loadModalQuote()">Create</button>
        </div>
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-2">
                <label>Search: </label>
            </div>
            <div class="col-sm-4 form-group">
                <input type="text" id="quoteListFilter" class="form-control" ng-model="search" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10">

                <!--<tr ng-repeat="quote in quotes | filter:search">-->
        <!-- angularTableTr -->
        <div class="panel" ng-class="quote.panelClass" ng-repeat="quote in filtered = quotes | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
            <!--<tr ng-repeat="quote in quotes">-->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3">
                        <h4><strong>Quote Id </strong> {{quote.quoteRequestId}}</h4>
                    </div>
                    <div class="col-md-2 col-md-offset-6">
                        <div class="col-md-offset-7">
                            <button type="button" class="btn btn-default btn-xs" ng-click="getQuote(quote.quoteRequestId)">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-xs" ng-click="deleteQuote(quote.quoteRequestId)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <h4>Date Request</h4> {{quote.formattedDateRequired}}
                    </div>
                    <div class="col-md-3">
                        <h4>Quantity </h4>
                        {{quote.quantity}}
                    </div>
                    <div class="col-md-3">
                        <h4>Category</h4>
                        {{ quote.category.description }}
                    </div>
                    <div class="col-md-3">
                        <h4>Summary</h4>
                        {{ quote.specificationSummary }}
                    </div>
                </div>
             </div>

        </div>
        <div ng-show="filteredQuotesLength === 0">
            No data to display.
        </div>
        <pagination ng-model="currentPage"
                    total-items="totalItems"
                    max-size="noOfPages"
                    items-per-page="entryLimit"
                    boundary-links="true"
                    class="pagination" boundary-links="true">
        </pagination>
    </div>
</div>