@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>

<hr />

<ul class="list-group">
    <li class="list-group-item">@Html.ActionLink("Expired Warranties Report", "ExpiredWarrantyReport") </li>
    <li class="list-group-item">@Html.ActionLink("Obsolete Equipment Report", "PastObsoleteDateReport") </li>
</ul>
