@model HardwareInventoryManager.ViewModels.DashboardViewModel
<div class="jumbotron">
    <div class="container">
        <h1>Welcome to Inventory Manager</h1>
        <p>News on updates will appear here...</p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Total Assets</h2>
            <p>Summary of all assets</p>
            <strong>@Model.TotalAssets</strong>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Asset Renewel</h2>
            <p>Summary of assets due for renewel</p>
            <strong>@Model.TotalPendingUpgrade</strong>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Wishlist</h2>
            <p>Summary of wishlist here...total number, total with request quotes, total will received quotes..</p>
            <strong>@Model.TotalWishlist</strong>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div> <!-- /container -->