@{
    ViewBag.Title = "Home Page";
}

<div class="container marketing">

 
    <!-- START THE FEATURETTES -->

    <br />
    <br />

    <br />
    <br />

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Inventory Management <span class="text-muted">Search and Filtering</span></h2>
            <p class="lead">Store valuable data for all your current hardware assets</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="~/Images/ball-63527_640.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Bulk Upload <span class="text-muted">Simple import</span></h2>
            <p class="lead">Upload your existing assest data using one simple upload process from a .CSV file template</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="~/Images/man-475557_640.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Quotes <span class="text-muted">Replace assets</span></h2>
            <p class="lead">Use the wish list feature to request quotes for replacing your hardware</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="~/Images/office-605503_640.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
</div>