@model HardwareInventoryManager.ViewModels.EmailNotConfirmedViewModel
@{
    ViewBag.Title = "EmailNotConfirmed";
}

<h2>Email Confirmation Required</h2>

<p>
    An email has been sent to @Model.EmailAddress
</p>
<p>
    Please check you email inbox and follow the instructions to confirm your email address.
</p>

